*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
    
   
}


.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px;
}

img {
    max-width: 100%;
}

#header ul {
    display: flex;
    padding: 10px;
}

li {
    list-style: none;
}

#header li {
    margin-left: 30px;
}
#header li　a {
    color:black;
    text-decoration:none;
}


.mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;

}

.mainvisual {
    margin-bottom: 80px;
}



section {
    display: block;
    unicode-bidi: isolate;

}

h2 {
    display: inline-block;
    font-size: 32px;
    border-bottom: solid 1px #383E45;
    margin-bottom: 60px;


}

#about img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;

}

h3 {
    display: block;
    
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

p {
    display: block;

}

#about .text {
    text-align: left;
}

ul {
    display: flex;
}

#bycicle ul {
    display: flex;
    justify-content: space-between;
}

#bycicle li {
    width: 32%;
}

.footer {
    font-size: 10px;
    text-align: center;

}

/* sp */
@media screen and (max-width:600px)  {
    #mainvisual img {
        height: calc(100vh - 60px);
      }

      #about .content {
        flex-direction: column;
      }

      #about img {
        margin-right: 0;
      }

      #bycicle ul {
        flex-direction: column;
      }
      
      #bycicle li {
        width: 100%;
        margin-bottom: 30px;
      }
}
